body{
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    box-sizing: border-box;
}

header{
    margin-bottom: 50px;
    background-color: rgb(28, 27, 27);
    margin-top: -14px;
    height: 70px;
    padding: 15px 0;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header ul li{
    color: white;
    font-size: 20px;
}

header ul li input[type="radio"]{
    cursor: pointer;
    width: 30px;
    height: 20px;
}

input::placeholder{
    opacity: 0.2;
}

section{
    margin: auto 250px;
    text-align: center;
}

#first-div{
    margin-bottom: 40px;
}

#span-1 {
    font-size: 20px;
}
#first-div h1{
    font-size: 70px;
    font-weight: 900;
}

.components{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* align-content: space-between; */
    margin-bottom: 70px;
}

#comp1 {
    width: 120px;
    height: 120px;
    border: 2px solid #f7f7f7;
    border-radius: 50%;
    /* padding: 20px; */
    padding-top: 30px;
}

.span-comp{
    width: 90px;
    height: 90px;
    border: 2px solid #f7f7f7;
    border-radius: 10px;
    padding: 30px 0;
    font-size: 35px;
    font-weight: 900;
}

#span-time{
    font-size: 35px;
    font-weight: 900;
}

#comp2, #comp3, #comp4{
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pp{
    margin-top: 10px;
}

.placeholder{
    width: 100%;
    /* height: 200px; */
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid #f7f7f7;
    box-shadow: 10px 10px 8px 5px #d4d4d7;
    /* box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green; */
    margin-bottom: 30px;
    line-height: 40px;
    opacity: 0.5;
    padding: 20px;
}

/* .placeholder::after{
    position: absolute;
    left: 5px;
    top: 3px;
    content: attr(data-placeholder);
    pointer-events: none;
    opacity: 0.6;
} */

input[type="text"]{
    width: 100%;
    height: 200px;
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid #f7f7f7;
    box-shadow: 10px 10px 8px 5px #d4d4d7;
    margin-bottom: 30px;
}

@media screen and (max-width: 1200px){
    section{
        margin: auto 50px;
    }
}

@media screen and (max-width: 800px){
    section{
        margin: auto;
    }
}
